*{
    margin: 0;
    padding: 0;

}
.bandeira {
    border-radius: 100%;
    width: 4vw;

}

.texto_conversao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 15vw;
    height: 4vh;
   
    
}

.container_conversores{
    background-color: #d9d3b8;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}
.container_1 {
    margin: 10vh 0 8vh 0;
    display: flex;
    justify-content: center;
    width: 100% ;
   
}
.container_formulario{
    background-color: #d9d3b8;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 10vh;
   

}

.conteudo_divs{
    background-color: #f2f2f2;
    border-radius: 15px ;
    display: flex;
    width: 30%;
    height: 10vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
   
}
